@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(95.37% 0.0549 125.19);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(83.29% 0.2331 132.51);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #8AE500;
  --chart-2: #0099FF;
  --chart-3: #FF4D50;
  --chart-4: #FACC00;
  --chart-5: #7A83FF;
  --chart-active-dot: #000;

  --navbar-primary: oklch(0.97 0 0);
  --navbar-primary-foreground: oklch(0.145 0 0);
  --navbar-secondary: oklch(0.922 0 0);
  --navbar-secondary-foreground: oklch(0.1221 0 0);
  --navbar-accent: oklch(0.708 0 0);
  --navbar-accent-foreground: oklch(0.1221 0 0);
  --navbar-border: oklch(0.85 0 0);
  --navbar-ring: oklch(0.6 0 0);
  --navbar-foreground: oklch(0.205 0 0);
  --navbar-glass: oklch(0.97 0 0 / 0.6);
}

.dark {
  --background: oklch(23.1% 0.0346 126.75);
  --secondary-background: oklch(23.93% 0 0);
  --foreground: oklch(92.49% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(76.26% 0.21309 132.4002);
  --border: oklch(0% 0 0);
  --ring: oklch(100% 0 0);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #7ACC00;
  --chart-2: #008AE5;
  --chart-3: #FF6669;
  --chart-4: #E0B700;
  --chart-5: #7A83FF;
  --chart-active-dot: #fff;

  --navbar-primary: oklch(0.1221 0 0);
  --navbar-primary-foreground: oklch(0.985 0 0);
  --navbar-secondary: oklch(0.97 0 0);
  --navbar-secondary-foreground: oklch(0.205 0 0);
  --navbar-accent: oklch(0.97 0 0);
  --navbar-accent-foreground: oklch(0.205 0 0);
  --navbar-border: oklch(0.922 0 0);
  --navbar-ring: oklch(0.708 0 0);
  --navbar-foreground: oklch(0.145 0 0);
  --navbar-glass: oklch(0.1 0 0 / 0.6);
}

@theme inline {
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 5px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 700;

  --color-navbar-primary: var(--navbar-primary);
  --color-navbar-primary-foreground: var(--navbar-primary-foreground);
  --color-navbar-secondary: var(--navbar-secondary);
  --color-navbar-secondary-foreground: var(--navbar-secondary-foreground);
  --color-navbar-accent: var(--navbar-accent);
  --color-navbar-accent-foreground: var(--navbar-accent-foreground);
  --color-navbar-border: var(--navbar-border);
  --color-navbar-ring: var(--navbar-ring);
  --color-navbar-foreground: var(--navbar-foreground);
}
  
@layer base {
  body {
    @apply text-foreground font-base bg-background;
  }

  h1, h2, h3, h4, h5, h6{
    @apply font-heading;
  }
}
